
<div>
    <h2><span translate="ecommerceApp.recetas.detail.title">Recetas</span> {{vm.recetas.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="ecommerceApp.recetas.nombre">Nombre</span></dt>
        <dd>
            <span>{{vm.recetas.nombre}}</span>
        </dd>
        <dt><span translate="ecommerceApp.recetas.descripcion">Descripcion</span></dt>
        <dd>
            <span>{{vm.recetas.descripcion}}</span>
        </dd>
        <dt><span translate="ecommerceApp.recetas.imagen">Imagen</span></dt>
        <dd>
            <div ng-if="vm.recetas.imagen">
                <a ng-click="vm.openFile(vm.recetas.imagenContentType, vm.recetas.imagen)">
                    <img data-ng-src="{{'data:' + vm.recetas.imagenContentType + ';base64,' + vm.recetas.imagen}}" style="max-width: 100%;"/>
                </a>
                {{vm.recetas.imagenContentType}}, {{vm.byteSize(vm.recetas.imagen)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
